@model HomeApp.ViewModel.suppliersCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier.Name" class="control-label"></label>
                <input asp-for="Supplier.Name" class="form-control" />
                <span asp-validation-for="Supplier.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Country" class="control-label"></label>
                <input asp-for="Supplier.Country" class="form-control" />
                <span asp-validation-for="Supplier.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Established" class="control-label"></label>
                <input asp-for="Supplier.Established" class="form-control" />
                <span asp-validation-for="Supplier.Established" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontPageFile" class="control-label">Upload Image</label>
                <input asp-for="FrontPageFile" type="file" class="form-control" />
                <span asp-validation-for="FrontPageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
